*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

article{
  text-align: center;
  margin: 30px auto;
  max-width: 50%;
  padding: 20px;
}

.title{
  color: #063251;
  font-size: 30px;
  margin: 50px 0;
  text-align: center;
}

label {
  font-size: 20px;
}

form {
  text-align: center;
}

input{
  font-size: 18px;
  margin-left: 20px;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  padding: 15px;
}

button{
  text-transform: uppercase;
  background-color: #49A6E9;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  margin-left: 20px;
  padding: 5px 20px;
  cursor: pointer;
}